Install !pip install ipython-sql

In [46]:
import os
import glob
import pyodbc
import pandas as pd
import numpy as np
from queries import *
from dotenv import load_dotenv

In [47]:
load_dotenv()
server = os.getenv("SERVER")
database = os.getenv("DATABASE")
username = os.getenv("UID")
password = os.getenv("PASSWORD")
driver = 'ODBC Driver 18 for SQL Server'
#connectionString = 'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

In [48]:
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
conn = pyodbc.connect(connectionString) 
cur = conn.cursor()

In [51]:
# Execute the T-SQL statements.
for statement in ["SELECT TOP 5 * FROM songplays;"]:
    cur.execute(statement)

# Fetch the results of the T-SQL statements.
results = cur.fetchall()

# Print the results of the T-SQL statements.
for row in results:
    print(row)

# Close the connection to the Azure SQL Server database.

(2, datetime.datetime(2018, 11, 1, 21, 1, 46, 797000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
(4, datetime.datetime(2018, 11, 1, 21, 5, 52, 797000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
(5, datetime.datetime(2018, 11, 1, 21, 8, 16, 797000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
(6, datetime.datetime(2018, 11, 1, 21, 11, 13, 797000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')
(7, datetime.datetime(2018, 11, 1, 21, 17, 33, 797000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')

In [52]:
# Execute the T-SQL statements.
for statement in ["SELECT TOP 5 * FROM songs;"]:
    cur.execute(statement)

# Fetch the results of the T-SQL statements.
results = cur.fetchall()

# Print the results of the T-SQL statements.
for row in results:
    print(row)

# Close the connection to the Azure SQL Server database.

('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)

In [53]:
# Execute the T-SQL statements.
for statement in ["SELECT TOP 5 * FROM users;"]:
    cur.execute(statement)

# Fetch the results of the T-SQL statements.
results = cur.fetchall()

# Print the results of the T-SQL statements.
for row in results:
    print(row)

# Close the connection to the Azure SQL Server database.

(8, 'Kaylee', 'Summers', 'F', 'free')
(10, 'Sylvie', 'Cruz', 'F', 'free')
(26, 'Ryan', 'Smith', 'M', 'free')
(101, 'Jayden', 'Fox', 'M', 'free')

In [54]:
# Execute the T-SQL statements.
for statement in ["SELECT TOP 5 * FROM time;"]:
    cur.execute(statement)

# Fetch the results of the T-SQL statements.
results = cur.fetchall()

# Print the results of the T-SQL statements.
for row in results:
    print(row)

# Close the connection to the Azure SQL Server database.

(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 3)
(datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 3)
(datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 3)
(datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 3)
(datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 3)

In [55]:
# Execute the T-SQL statements.
for statement in ["SELECT TOP 5 * FROM artists;"]:
    cur.execute(statement)

# Fetch the results of the T-SQL statements.
results = cur.fetchall()

# Print the results of the T-SQL statements.
for row in results:
    print(row)

# Close the connection to the Azure SQL Server database.

('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None)